$greenTheme:#6edaa1;
$bgBlueTheme:#25333d;

.padding0{
	padding: 0;
}
.marginTop20{
	margin-top: 20px;
}

.bg-theme{
	background-color: $greenTheme;
}
.header{
	.navbar-brand{
		color:#fff;
	}
}

.page-home{
	background-color: #eee;
	height: 100vh;
	.info-card{
		width: 80%;
		margin: auto;
		margin-top: 20px;
	}
	.logout-link{
		position: absolute;
		right: 10px;
		a{
			color: #fff;
		}
	}
}

.login-container{
	background-color: $bgBlueTheme;
	height: 100vh;
	color: #eee;
	text-align: center;
	overflow:hidden;
	.user-details{
		margin-top:20vh;
	}
	input{
		background-color: $bgBlueTheme;
		color: #fff;
	}
	input:focus{
		border: 1px solid $greenTheme;
		background-color: $bgBlueTheme;
		box-shadow: none;
		color: #fff;
	}
	.left-section{
		border-right:1px solid #fff;
		height: calc(100vh-35px);
		margin: 30px;
		.welcome-details{
			margin-top: 20vh;
		}
	}
	.right-section{
		padding: 15px;
		height: 100vh;
	}
	.login-btn{
		background-color: $greenTheme;
		color: #fff;
	}
	p{
		font-size: 12px;
		color: #aaa;
	}
}

.errorMsg{
	color: red;
	font-size: 12px;
	margin-bottom: 10px;
}

@media (max-width: 576px) { 
	.user-details{
		margin-top: 0!important;
	}
	.left-section{
		border-right: 0!important;
		border-bottom:1px solid #fff;
	}
}


@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  animation-duration: 800ms;
}
